body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 2%, 89%); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Page Styles */
.the-header {
  text-align: center;
  padding: 20px;
  animation: fadeInUp 0.8s ease-in-out;
}

.first-h1 {
  margin-bottom: 20px;
  font-size: 2.5em; 
  font-weight: bold;
  color: #3498db; 
  animation: fadeIn 1s ease-in-out;
}

.login {
  padding: 15px 25px;
  font-size: 1.2em; 
  font-weight: bold; 
  cursor: pointer;
  background-color: #3498db; 
  color: #ffffff; 
  border: 2px solid #3498db; 
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  animation: slideInRight 0.8s ease-in-out;
}

.login:hover {
  background-color: #1a1a1a; 
  color: #3498db; }

.welcome {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #1d0808; 
  animation: fadeInLeft 1s ease-in-out;
}

/* Date Styles */
.date {
  position: absolute;
  top: 60px; 
  left: 20px; 
  font-size: 1.2em; 
  color: #5c4242; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Logout Button Styles */
.logout {
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  background-color: #0e2c41; 
  color: #ffffff; 
  border: 2px solid #3498db;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  animation: slideInUp 0.8s ease-in-out;
  border-radius: 20px;
  position: absolute;
  bottom: 5%;
  left: 46%;
}

.logout:hover {
  background-color: #1a1a1a; 
  color: #206491; 
}

/* Keyframe Animation */
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Status Buttons Styles */
.status-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.done {
  padding: 60px;
  font-size: 6.5em;
  font-weight: bold;
  cursor: pointer;
  background-color: #2ecc71; 
  color: #ffffff; 
  border: 2px solid #2ecc71;
  border-radius: 14px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
  padding-left: 150px;
  padding-right: 150px;
}

.done:hover {
  background-color: #27ae60; 
}

.progress {
  padding: 80px;
  font-size: 4.5em;
  font-weight: bold;
  cursor: pointer;
  background-color: #8b4513; 
  color: #ffffff; 
  border: 2px solid rgb(41, 41, 35);
  border-radius: 14px;
  transition: background-color 0.3s ease-in-out;
  padding-bottom: 75px;
}

.progress:hover {
  background-color: #6e2c00; 
}

/* Todo List Styles */
.todo-list {
  max-width: 100%; 
  margin: auto;
  background-color: #ffffff; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

/* Keyframe Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Status Buttons Styles */
.status-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Todo Items Styles */
.todo-items {
  margin: 5px;
  padding: 0;
  text-decoration: double;
  font-size: larger;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Edit and Delete Buttons Styles */
.save,
.cancel,
.delete,
.edit,
.status {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}

.save,
.cancel {
  background-color: #3498db; 
  color: #ffffff;
}

.save:hover,
.cancel:hover {
  background-color: #1a1a1a; 
  color: #3498db;
}

.delete,
.edit,
.status {
  background-color: #0e2c41; 
  color: #ffffff;
  border-radius: 18px;
  margin: 5px;
}

.delete:hover,
.edit:hover,
.status:hover {
  background-color: #c0392b; 
  transform: scale(1.05); 
  box-shadow: 12px 15px 12px rgba(0, 133, 88, 0.2); 
}

/* Todo Footer Styles */
.todo-footer {
  margin-top: 20px;
  text-align: center;
}

/* Todo Input Styles */
.todo-input {
  padding: 10px;
  width: 70%;
  font-size: 1em;
  border: 1px solid #3498db; 
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Add Button Styles */
.add-btn {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3498db; 
  color: #ffffff;
  border: none;
  border-radius: 4px;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  box-shadow: 15 10 18px rgba(228, 65, 174, 0.1); 
}

.add-btn:hover {
  background-color: #1a1a1a; 
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); 
}

.icon {
  position: absolute;
  bottom: 76%;
  font-size: 70px;
  left: 85%;
  border: 5px solid black;
  border-radius: 90px;
  padding: 40px;
}



@media only screen and (max-width: 1400px) {
  .todo-list {
    padding: 50px;
  }

  .done {
    padding: 40px;
    font-size: 4em;
    margin-right: 5px;
  }

  .progress {
    padding: 50px;
    font-size: 3em;
  }

}

@media only screen and (max-width: 1000px) {
  .todo-list {
    padding: 20px;
  }

  .done {
    padding: 20px;
    font-size: 3em;
  }
  .icon{
    font-size: medium;
  }
  .progress {
    padding: 30px;
    font-size: 2em;
    
  }}
 